body {
  background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.search-form {
  justify-content: space-between;
  display: flex;
  margin: 10px 0;
}

.search-button {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  size: 5px;
  border-radius: 7px;
  background-color: #8bb2de;
  color: #353842;
  padding: 0 25px;
  border: 1px solid rgba(117, 155, 200, 0.3);
  box-shadow: 5px 5px 9px rgba(117, 155, 200, 0.6);
}

.search-button:hover {
  cursor: pointer;
}

.search-input-bar {
  background-color: #c5daf4;
  width: 100%;
  height: 40px;
  color: #353842;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  border: 1px solid rgba(117, 155, 200, 0.3);
  border-radius: 8px;
  padding-left: 5px;
  margin-right: 5px;
  box-shadow: 5px 5px 9px rgba(117, 155, 200, 0.6);
}
.search-input-bar:focus {
  outline: #124279;
}

.weather-app {
  background: #edf5fc;
  max-width: 600px;
  margin: 40px auto 0;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid rgba(117, 155, 200, 0.3);
  box-shadow: 10px 10px 19px rgba(117, 155, 200, 0.6);
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.weather-app-data {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
}

.weather-app-city {
  font-size: 43px;
  color: rgb(57, 61, 74);
  font-weight: 500;
}

.weather-app-details {
  color: rgb(38, 54, 72, 0.6);
  font-size: 14px;
  line-height: 23px;
}

.current-temperature-container {
  margin-top: 40px;
  color: rgb(57, 61, 74);
  display: flex;
}

.weather-app-humidity,
.weather-app-wind {
  color: rgb(176, 1, 39);
  font-weight: bold;
}

.weather-app-icon {
  font-size: 40px;
}

.weather-app-value {
  font-size: 76px;
  font-weight: 400;
}

.weather-app-unit {
  font-size: 33px;
  margin-top: 13px;
}

footer {
  font-size: 11px;
  color: rgba(117, 155, 200, 0.7);
  text-align: center;
  padding-top: 30px;
}
